.selPostContainer {
  position: relative;
  width: 100%;
}
.card-area  {
  display: block;
}

.blogCard-img {
  position: absolute;
  height: 50vh;
  width: 100%;
  /* max-width: 600px; */
  border-radius: 6px;
  object-fit: contain;
  object-position: 50%;
  min-width: 10rem;
  min-width: 50%;
  margin: 0 auto;
  z-index: 2;
}

.blogCard-images {
  height: 100%;
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
  object-position: 50%;
  min-width: 10rem;
  min-width: 50%;
  margin: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.blogCard-images:hover {
  opacity: 0.9;
}

.background_figcaption {
  position: relative;
  right: 0rem;
  justify-content: right;
  align-items: center;
  display: flex;
  z-index: 60;
  font-style: italic;
  font-size: 0.8rem;
  padding: 0.2rem 1rem;
}

/* background cover overlay and img */

.background-img {
  position: relative;
  background-position: 0%;
  width: 100%;
  height: 50vh;
}

.background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.background-overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 50vh;
  /* background: rgba(176,176,176, 0.7);
  background: rgba(0, 0, 0, 0.7); */
  backdrop-filter: blur(10px);
  z-index: 1;
  border-radius: 6px;
}
.back-img {
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  background-repeat: repeat;
  background-position: 50%
}




/* Modal img */
/* Styles for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  margin: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 99;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}
.modal.modal-content{
  display: flex;
  justify-content: center;
  align-items: center;

}
/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: var(--creamwhite);
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Styles for the blog images */
.blog-image {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.blog-image:hover {
  opacity: 0.7;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: var(--graywhite);
  padding: 10px 0;
  height: fit-content;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}


.informationLine p {
  margin: 0.5rem 0 1rem;
  gap: 1rem;
}

/* Categorie and tag area */

.catPTitle {
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0;
}

.catLinks {
  font-size: 1rem;
  text-align: center;
}

.tagcatArea {
  flex-wrap: wrap;
  padding: 0.3rem;
  margin: 1rem 0;
}

.catArea {
  margin: 1rem 0;
}

.catP {
  display: flex;
  flex-wrap: wrap;
}

.catP a {
  margin-right: 0.5rem;
  color: var(--black);
}


/*
Comment section area
*/

.containerComments {
  background-color: var(--white);
}
.cmtBox {
  border-bottom: 1px solid var(--gray);
  padding: 1rem 2rem;
  margin: 1rem 0;
}
.cmtBox-info {
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.cmtBox-info_h3 {
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem 0;
}
.cmtBox-info_p {
  font-size: 0.8;
  font-style: italic;
  margin: 0;
}
.cmtBox-text {
  margin: 1rem 0;
}

#sendMessageContainer {
  display: block;
}