
button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    
    border-radius: 6px;
    padding: 0.6rem;
    margin: 0.5rem;
    font-weight: 600;

    background-color: var(--green_light);
    border: 1px solid var(--green_light);
    text-transform: uppercase;
    font-family: "Lato";
}
button:hover {
    background-color: var(--white);
    border: 1px solid var(--green_light);
    color: var(--black);
}

/* css for loading more posts at blog posts site */
.postsButtonContainer {
    position: relative;
}
.postsButtonContainer, .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 3rem;
}
.morePostsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}


.button {
    border: 2px solid var(--green_light);
    border-radius: 6px;
    width: fit-content;
    height: auto;
    background-color: var(--green_light);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    transition: 0.8s;
}

.button_slide-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: var(--white);
    transition: 0.8s;
}
.button:hover .slide-effect {
    left: 0;
}   
.button-link {
    position: relative;
    font-size: 1rem;
    color: var(--black_lighter);
    padding: 0.5rem 0.2rem;
    text-transform: uppercase;
    transition: 0.8s;
}
.button:hover .button-link {
    color: var(--black);

}