
button, .buttonAll {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    
    border-radius: 6px;
    padding: 0.6rem;
    margin: 0.5rem;
    font-weight: 600;

    background-color: var(--white);
    border: 1px solid var(--green_light);
    color: inherit;
    color: var(--black_lighter);
    text-transform: uppercase;
    font-family: "Lato";
    transition: background-color 0.2s ease;
}
button:hover, .buttonAll:hover {
    background-color: var(--green_light);
    border: 1px solid var(--dark_black);
    color: var(--black);
}
button:active {
    background-color: var(--green_light); /* Green */
  }

/* 
Div button with transition 
*/
.buttonArea {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.divButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    border-radius: 6px;
    padding: 0.6rem 0;
    margin: 1rem 0;
    font-weight: 600;
    text-align: center;
    /* background-color: var(--white); */
    /* border-bottom: 2px solid var(--green_light); */
    color: var(--black);

    transition: opacity .2s ease-in-out,background-color .2s ease-in-out;
    cursor: pointer;
}
.divButton::after {
    content: "";
    background-color: var(--green_light);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    z-index: 1;
}
.divButton:hover::after {
    width: 100%;
    transition: width 0.3s ease-in-out;
}
.divButton_a {
    position: relative;
    z-index: 2;
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--black);
}

/* css for loading more posts at blog posts site */
.postsButtonContainer {
    position: relative;
}
.postsButtonContainer, .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 3rem;
}
.morePostsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}


.button {
    border: 2px solid var(--green_light);
    border-radius: 6px;
    width: fit-content;
    height: auto;
    background-color: var(--green_light);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    transition: 0.8s;
}

.button_slide-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: var(--white);
    transition: 0.8s;
}
.button:hover .slide-effect {
    left: 0;
}   
.button-link {
    position: relative;
    font-size: 1rem;
    color: var(--black_lighter);
    padding: 0.5rem 0.2rem;
    text-transform: uppercase;
    transition: 0.8s;
}
.button:hover .button-link {
    color: var(--black);

}