

/* backgrounds */
.bgWhite {
    background-color: var(--white);
}
.bgGreen {
    background-color: var(--green_light);
}
.bgDarkBlack {
    background-color: var(--dark_black);
}
.bgDarkBlue {
    background-color: #596D81;
}
.bgCreamWhite {
    background-color: var(--creamwhite);
}
.bgDarkBrown {
    background-color: var(--dark_brown);
}