/* 
-------------------
11. Flex and grids
-------------------
*/

/* Flex */
    .flex_spacebetween {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
    }
    .flexwrap { /*used for explore section in visit us page */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .flexcenter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

/* Grids */
    /* Used for blog posts, and sel post site */
    .grid400 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
        gap: 1rem;
    }
