/* 
-------------------
11. Flex and grids
-------------------
*/

/* Flex */
    .flex_spacebetween {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
    }
    .flexwrap { /*used for explore section in visit us page */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .flexcenter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

/* Grids */
    .grid3fit {
        display: grid;
        grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
        gap: 3rem 1rem;
    }
    .gridfit200 {
        display: grid;
        grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
        gap: 3rem 1rem;
    }
    .grid3fill {
        display: grid;
        grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
        gap: 3rem 1rem;
    }
    .gridefit {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(600px,1fr));
        gap: 1rem;
    }
    .gridcenter {
        justify-content: center;
        align-items: center;
    }

/* Grids specific */
    .g_one {
        grid-column: 1;
        grid-row: 1;
    }
    .g_two {
        grid-column: 1;
        grid-row: 2/3;
    }
    .g_three {
        grid-column: 2;
        grid-row: 1/3;
    }
    .g_four {
        grid-column: 3;
        grid-row: 1/3;
        flex: 1;
    }
    