/* 

*/
header {
    position: relative;
    height: 5rem;
    z-index: 10;
}
.headerHomepage {
    position: absolute;
}
.headerHome { /* Homepage */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 1;
}
.headerHome.visible { /* Homepage */
    background-color: var(--creamwhite);
}
.header {
    background-color: var(--creamwhite);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav-menu {
    margin-right: 2%;
}

.nav-menu-ul {
    list-style: none;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 0.5rem;
}

.nav-menu-ul li {
    width: fit-content;
    right: 2%;
    margin: 1rem 0;
    font-size: 1.125rem;
    font-weight: 600;
    font-family: "Epilogue", Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

.nav-menu-a {
    padding: 0.3rem 0.6rem;
    text-decoration: none;
    position: relative;
    color: var(--black_lighter);
    transition: opacity .2s ease-in-out,background-color .2s ease-in-out;
}

.nav-menu-a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: var(--green_light);
    transition: width 0.3s ease-in-out;
}

.nav-menu-a:hover::after {
    width: 100%;
}


/* Additional styling for the active page */
.active-page::before {
    content: "";
    position: absolute;
    background: var(--green_light);
    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
}

.nav-menu-a:hover {
    color: var(--black);
    /* background-color: var(--green_light); */
    border-radius: 6px;
}

.logo-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
}


/* Hamburger menu */

.hamburger_icon {
    display: none;
    background-image: url(/icons/V_hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--creamwhite);
    position: absolute;
    padding: 1rem 0;
    z-index: 101;
    border: none;
}

.hamburger_icon:hover {
    background-color: var(--creamwhite);
    border: none;
}


/* Header area */
.headerContainer {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100vh;
    max-height: fit-content;

    /* padding: 1rem 0 2rem; */
}

.headerImg {
    position:fixed;
    display: flex;
    object-fit: cover;
    opacity: 1;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    display: block;
    background-position: 100%;
}

.floating {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
    padding: 10px;
}

.floating_logo {
    height: 16rem;
}

.headerTitle {
    font-family: var(--epilogue);
    font-weight: 800;
    font-size: 2.5rem;
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    margin: 0;

}