/* 
-------------------
8. Padding + margin + gap selectors
-------------------
*/
/* Padding */

    .zeropadding {
        padding: 0px;
    }
    .padding-top2rem {
        padding-top: 2rem;
    }
    .padding_top1rem {
        padding-top: 1rem;  
    }
    .padding1rem {
        padding: 1rem;
    }
    .section_padding {
        padding: 1rem 0 3rem;
    }

/* Margin */
    .margin1rem {
        margin: 1rem;
    }   
    .marginauto {
        margin: auto;
    }

/* Gap */
    .gap1rem {
        gap: 1rem;
    }