/* font size */
.fontSize08 {
    font-size: 0.8rem;
    font-weight: 400;
}
.fS1-5 {
    font-size: 1.5rem;
}

/* font weight */
.bold {
    font-weight: 600;
}

/* width */
.width100 {
    width: 100%;
}
.teAlign {
    text-align: end;
}

.caption {
    font-size: 0.8rem;
    font-style: italic;
}

.cursive {
    font-style: italic;
    font-size: 0.9rem;
}
.fw-light {
    font-size: 0.8rem;
    font-weight: 400;
    font-style: italic;
}